*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food-section{
    margin: 50px 0px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 25%;
}
.card{
    margin: 10px;
    padding: 20px;
}
.card:hover{
    outline: 1px solid #80808080;
    box-shadow: 1px -1px 3px #80808080;
}
.card h3,.card p,.card .star-rate,.card img{
    margin: 5px 0px;
}
.card img{
    width: 100%;
}
.star-rate{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #80808080;
}
.offer-del{
    border-bottom: 1px solid #80808080;
    padding: 15px 0px;
}
.offer-del i,.offer-del span{
    display: inline-block;
    color: brown;
}
.offer-del span{
    margin-left: 10px;
}